body{
    background-color: rgb(2, 31, 0);
    color: white;
}

/* Menu */

.item img, .product-image {
    max-width: 60%;
    height: auto;
    object-fit: cover;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.product-card {
    border: 1px solid #ccc;
    padding: 0px;
    text-align: center;
    border-radius: 8px;
    width: 100%; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.product-card .product-image {
    width: 100%;
    height: 200px; 
}

/* Cart */

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.cart-items .item {
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    padding: 10px;
    justify-content: space-between;
}
.cart-items .item .minus, .cart-items .item .plus, .cart-items .item .remove{
    cursor: pointer;
}


.cart-items .item .image img {
    width: 100%; 
    height: 80px;
}

.cart-items .item .name {
    padding-right: 10px;
    flex-grow: 1;
    margin-left: 15px;
}

.cart-items .item .quantity {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 15px;
}